{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <!-- Load TinyMCE -->
    <script src="https://cdn.jsdelivr.net/npm/tinymce@6/tinymce.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            tinymce.init({
                selector: 'textarea',   // or '.tinymce' if you only want specific fields
                height: 400,
                menubar: false,
                plugins: 'link image code',
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright | customimage customlink | code',
                setup: function(editor) {
                    // FileBrowser buttons
                    editor.ui.registry.addButton('customimage', {
                        icon: 'image',
                        tooltip: 'Insert image',
                        onAction: function() {
                            openFileBrowser('Image', function(url) {
                                editor.insertContent('<img src="' + url + '" />');
                            });
                        }
                    });
                    editor.ui.registry.addButton('customlink', {
                        icon: 'link',
                        tooltip: 'Insert link',
                        onAction: function() {
                            openFileBrowser('Document', function(url) {
                                var selectedText = editor.selection.getContent({format: 'text'}) || 'Link';
                                editor.insertContent('<a href="' + url + '">' + selectedText + '</a>');
                            });
                        }
                    });
                }
            });
        });

        function openFileBrowser(type, callback) {
            let fb = window.open(
                '/admin/filebrowser/browse/?pop=2&type=' + type,
                'filebrowser',
                'width=980,height=600,scrollbars=yes,resizable=yes'
            );
            
            // filebrowser.js already sets window.opener.FileBrowserDialogue
            window.FileBrowserDialogue = {
                fileSubmit: function(url) {
                    callback(url);
                    fb.close();
                }
            };
        }
    </script>
{% endblock %}
