# Python
__pycache__/
*.py[cod]

# Virtual env
wms_venv/
env/

# Django stuff
*.sqlite3
staticfiles/
# Media files (but keep default.jpg)
media/*
!wms_api/media/default.jpg
*.pickle

# Environment variables
.env

# OSX
.DS_Store