dj_database_url==3.0.0
Django==4.2
django-grappelli==4.0.2
django_filebrowser==4.0.3
Pillow==11.3.0
python-decouple==3.8
Requests==2.32.5
djangorestframework==3.16.1
django-filter==25.1
django-cors-headers==4.7.0
django-tinymce==4.1.0
gunicorn==23.0.0